<h1 align="center"> T20 World Cup Cricket Data Pre Processing </h1>

In [16]:
#import necessary libraries
import pandas as pd
import json

<h4 style="color:blue">(1) Process Match Results</h4>

In [17]:
df_match = pd.read_csv("./t20_csv_files/dim_match_summary.csv")
df_match.head(5)

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [18]:
df_match.shape

(45, 7)

In [19]:
df_match.to_csv('Files/dim_match_summary.csv', index = False)

<h4 style="color:blue">(2) Process Batting Summary</h4>

In [20]:
df_batting = pd.read_csv("./New folder/fact_batting_summary1.csv")
df_batting.head()

,match,teamInnings,match_id,batsmanName,runs,balls,4s,6s,SR,battingPos
0,Afghanistan vs England,Afghanistan,T20I # 1840,Hazratullah Zazai,7,17,1,0,41.17,1
1,Afghanistan vs England,Afghanistan,T20I # 1840,Rahmanullah Gurbaz†,10,9,0,1,111.11,2
2,Afghanistan vs England,Afghanistan,T20I # 1840,Ibrahim Zadran,32,32,3,1,100.00,3
3,Afghanistan vs England,Afghanistan,T20I # 1840,Usman Ghani,30,30,3,0,100.00,4
4,Afghanistan vs England,Afghanistan,T20I # 1840,Najibullah Zadran,13,11,0,1,118.18,5

In [21]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('†', ''))

In [22]:
df_batting.shape

(699, 10)

In [23]:
df_batting.to_csv('Files/fact_bating_summary.csv', index = False)

<h4 style="color:blue">(3) Process Bowling Summary</h4>

In [24]:
df_bowling = pd.read_csv("./New folder/fact_bowling_summary.csv")
df_bowling.head()

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T20I # 1840,Afghanistan vs England,England,Ben Stokes,4.0,0,19,2,4.75,14,2,0,1,0
1,T20I # 1840,Afghanistan vs England,England,Chris Woakes,4.0,0,24,1,6.00,15,2,1,1,0
2,T20I # 1840,Afghanistan vs England,England,Mark Wood,4.0,0,23,2,5.75,14,2,1,0,0
3,T20I # 1840,Afghanistan vs England,England,Sam Curran,3.4,0,10,5,2.72,16,1,0,1,0
4,T20I # 1840,Afghanistan vs England,England,Adil Rashid,4.0,0,32,0,8.00,4,1,1,0,0

In [25]:
df_bowling.shape

(463, 14)

In [26]:
df_bowling.to_csv('Files/fact_bowling_summary.csv', index = False)

<h4 style="color:blue">(4) Process Players Information</h4>

In [27]:
df_players = pd.read_csv("./New folder/dim_players.csv")
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,image,description
0,Gulbadin Naib,Afghanistan,Right hand Bat,Right arm Medium fast,Batting Allrounder,https://wassets.hscicdn.com/static/images/lazy...,NaN
1,Rahmanullah Gurbaz,Afghanistan,Right hand Bat,NaN,Wicketkeeper Batter,https://wassets.hscicdn.com/static/images/lazy...,NaN
2,Najibullah Zadran,Afghanistan,Left hand Bat,Right arm Offbreak,Middle order Batter,https://wassets.hscicdn.com/static/images/lazy...,NaN
3,Usman Ghani,Afghanistan,Right hand Bat,NaN,Opening Batter,https://wassets.hscicdn.com/static/images/lazy...,NaN
4,Ibrahim Zadran,Afghanistan,Right hand Bat,Right arm Medium fast,Opening Batter,https://wassets.hscicdn.com/static/images/lazy...,NaN

In [28]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))

In [29]:
df_players.shape

(253, 7)

In [30]:
df_players.to_csv('Files/dim_players_no_images.csv', index = False)